GIT_PROVIDER_CLIENT_id=abc123       #oauth client id
GIT_PROVIDER_CLIENT_SECRET=abc123   #oauth client secret 
DB_URI=mongodb://xxx:xxx@...        #connection uri for mongodb
JWT_SECRET=abc123                   #jwt secret to sign key
RABBITMQ_URI=amqp://xxx:xxx@...     #connection uri for rabbitmq
TRAEFIK_USERNAME=username           #traefik username for basic auth
TRAEFIK_PASSWORD=password           #traefik password for basic auth

